USE [master]
GO
/****** Object:  Database [QLHoaDon]    Script Date: 25/10/2021 11:24:18 CH ******/
CREATE DATABASE [QLHoaDon]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLHoaDon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLHoaDon]
GO
/****** Object:  Table [dbo].[CT_HoaDon]    Script Date: 25/10/2021 11:24:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HoaDon](
	[MaHD] [char](10) NOT NULL,
	[MaSP] [char](10) NOT NULL,
	[SoLuong] [bigint] NULL,
	[GiaBan] [money] NULL,
	[GiaGiam] [money] NULL,
	[ThanhTien] [money] NULL,
 CONSTRAINT [PK_CT_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 25/10/2021 11:24:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [char](10) NOT NULL,
	[MaKH] [char](10) NULL,
	[NgayLap] [date] NOT NULL,
	[TongTien] [money] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 25/10/2021 11:24:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [char](10) NOT NULL,
	[Ho] [nvarchar](50) NULL,
	[Ten] [nvarchar](50) NULL,
	[NgSinh] [date] NULL,
	[SoNha] [nvarchar](max) NULL,
	[Duong] [nvarchar](max) NULL,
	[Phuong] [nvarchar](max) NULL,
	[Quan] [nvarchar](max) NULL,
	[TPho] [nvarchar](50) NULL,
	[DienThoai] [nchar](20) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 25/10/2021 11:24:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [char](10) NOT NULL,
	[TenSP] [nvarchar](50) NULL,
	[SoLuongTon] [bigint] NULL,
	[Mota] [nvarchar](max) NULL,
	[Gia] [money] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_HoaDon] ADD  DEFAULT ((0)) FOR [GiaBan]
GO
ALTER TABLE [dbo].[CT_HoaDon] ADD  DEFAULT ((0)) FOR [GiaGiam]
GO
ALTER TABLE [dbo].[CT_HoaDon] ADD  DEFAULT ((0)) FOR [ThanhTien]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [Gia]
GO
ALTER TABLE [dbo].[CT_HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CT_HoaDon_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[CT_HoaDon] CHECK CONSTRAINT [FK_CT_HoaDon_HoaDon]
GO
ALTER TABLE [dbo].[CT_HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CT_HoaDon_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[CT_HoaDon] CHECK CONSTRAINT [FK_CT_HoaDon_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[CT_HoaDon]  WITH CHECK ADD  CONSTRAINT [CHECK_SL_CTHD] CHECK  (([SoLuong]>=(0)))
GO
ALTER TABLE [dbo].[CT_HoaDon] CHECK CONSTRAINT [CHECK_SL_CTHD]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [CHECK_NL] CHECK  ([NgayLap] BETWEEN '2020-05-01' AND '2021-06-30')
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [CHECK_NL]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [CHECK_GIA_SP] CHECK  (([Gia]>=(0)))
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [CHECK_GIA_SP]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [CHECK_SLT] CHECK  (([SoLuongTon]>=(0)))
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [CHECK_SLT]
GO

/****** Object:  Trigger [dbo].[ThanhTien_CTHD]    Script Date: 25/10/2021 11:24:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[ThanhTien_CTHD]
ON [dbo].[CT_HoaDon]
FOR INSERT, UPDATE
AS
	BEGIN
		UPDATE CT_HoaDon 
		SET ThanhTien = SoLuong * (GiaBan - GiaGiam)
	END
GO
ALTER TABLE [dbo].[CT_HoaDon] ENABLE TRIGGER [ThanhTien_CTHD]
GO

/****** Object:  Trigger [dbo].[TongTien_HD_Initial]    Script Date: 31/10/2021 11:24:19 CH ******/
SET ANSI_NULLS ON
GO 
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TongTien_HD_Initial]
ON [dbo].[HoaDon]
AFTER INSERT
AS 
	BEGIN
		UPDATE HoaDon 
		SET TongTien = 0
		FROM INSERTED, HoaDon
		WHERE HoaDon.MaHD = INSERTED.MaHD
	END
GO
ALTER TABLE [dbo].[HoaDon] ENABLE TRIGGER [TongTien_HD_Initial]
GO

/****** Object:  Trigger [dbo].[TongTien_HD_Insert]    Script Date: 31/10/2021 3:54:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TongTien_HD_Insert]
ON [dbo].[CT_HoaDon]
FOR INSERT
AS
	BEGIN
		UPDATE HoaDon 
		SET TongTien = TongTien + (SELECT SUM(CTD.ThanhTien) FROM CT_HoaDon CTD, Inserted INS WHERE CTD.MaHD = INS.MaHD AND CTD.MaSP = INS.MaSP)
		FROM Inserted INS, HoaDon HD
		-- INNER JOIN HoaDon on HoaDon.MaHD = INSERTED.MaHD 
		WHERE HD.MaHD = INS.MaHD 

	END
GO
ALTER TABLE [dbo].[CT_HoaDon] ENABLE TRIGGER [TongTien_HD_Insert]
GO

/****** Object:  Trigger [dbo].[TongTien_HD_Delete]    Script Date: 10/31/2021 3:54:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TongTien_HD_Delete]
ON [dbo].[CT_HoaDon]
FOR DELETE
AS
	BEGIN
		UPDATE HoaDon 
		SET TongTien = TongTien - (SELECT SUM(CTD.ThanhTien) FROM CT_HoaDon CTD, Deleted DL
		WHERE CTD.MaHD = DL.MaHD AND CTD.MaSP = DL.MaSP)
		FROM Deleted DL
		-- INNER JOIN HoaDon on HoaDon.MaHD = DELETED.MaHD 
		WHERE HoaDon.MaHD = DL.MaHD 
	END
GO
ALTER TABLE [dbo].[CT_HoaDon] ENABLE TRIGGER [TongTien_HD_Delete]
GO

